.post {
  border: none;
}

.post:hover {
  -webkit-filter: brightness(70%);
}

.postImage {
  width: 100%;
  height: 100%;
}

.captionText {
  color: white;
}

.postItemActions {
  display: flex;
  flex-direction: column;
  margin-top: 0;
}

.postItemActions li {
  display: flex;
  color: white;
  margin: 0 auto;
  justify-content: center;
  border-bottom: 1px solid #363636;
  padding: 10px;
  width: 100%;
  cursor: pointer;
  font-size: 14px;
}

.postItemModal {
  display: flex;
}

.btnActionsMenu {
  display: flex;
  align-self: end;
  background-color: black;
  border: none;
  height: 24px;
  cursor: pointer;
}

.modalPostItem {
  position: fixed;
  top: 20vh;
  left: 5%;
  width: 60%;
  background-color: black !important;
  padding: 1rem;
  border-radius: 14px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  z-index: 30;
  animation: slide-down 300ms ease-out forwards;
}

.modalPostItemActionsMenu {
  width: 40%;
}

.postDetails {
  display: flex;
  flex-direction: column;
  width: 100%;
}
