.sideNav {
  position: fixed;
  /* border-right: 1px solid lightgrey; */
  border-right: 1px solid rgba(38, 38, 39, 1);
  width: 15.25rem;
  height: 100vh;
  padding: 8px 12px 20px 12px;
}

main {
  width: calc(100% - 15.25rem);
  margin-left: auto;
}

.logo {
  padding: 25px 12px 16px 12px;
  margin-bottom: 20px;
}

.btn {
  border: none;
  border-radius: 8px;
  color: white;
  padding: 12px;
  width: 95%;
  display: flex;
  gap: 5px;
  align-items: center;
  font-size: 16px;
  margin-right: 5px;
  background-color: transparent;
}

.btn:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 8px;
}
