.sideNav {
  position: fixed;
  /* border-right: 1px solid lightgrey; */
  border-right: 1px solid rgba(38, 38, 39, 1);
  width: 15.25rem;
  height: 100vh;
}

main {
  width: calc(100% - 15.25rem);
  margin-left: auto;
}

.logo {
  margin: 2rem;
}
