.btn {
  border: none;
  border-radius: 8px;
  color: white;
  padding: 12px;
  width: 95%;
  display: flex;
  gap: 5px;
  align-items: center;
  font-size: 16px;
  margin-right: 5px;
  background-color: transparent;
}

.btn:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 8px;
}
